<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">catname</td>
        <td class="tag">{catname}</td>
    </tr>
    <tr>
        <td class="legend">title</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">author</td>
        <td class="tag">{author}</td>
    </tr>
    <tr>
        <td class="legend">comment</td>
        <td class="tag">{comment}</td>
    </tr>
    <tr>
        <td class="legend">date</td>
        <td class="tag">{date}</td>
    </tr>
    <tr>
        <td class="legend">articleurl</td>
        <td class="tag">{articleurl}</td>
    </tr>
    <tr>
        <td class="legend">categoryurl</td>
        <td class="tag">{categoryurl}</td>
    </tr>
    <tr>
        <td class="legend">authoravatar</td>
        <td class="tag">{authoravatar}</td>
    </tr>
    <tr>
        <td class="legend">authorlink</td>
        <td class="tag">{authorlink}</td>
    </tr>
    <tr>
        <td class="legend">commentoravatar</td>
        <td class="tag">{commentoravatar}</td>
    </tr>
    <tr>
        <td class="legend">commentorlink</td>
        <td class="tag">{commentorlink}</td>
    </tr>
    <tr>
        <td class="legend">username</td>
        <td class="tag">{username}</td>
    </tr>
    <tr>
        <td class="legend">email</td>
        <td class="tag">{email}</td>
    </tr>
    <tr>
        <td class="legend">homepage</td>
        <td class="tag">{homepage}</td>
    </tr>
</table>