<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">link</td>
        <td class="tag">{link}</td>
    </tr>
    <tr>
        <td class="legend">title</td>
        <td class="tag">{title}</td>
    </tr>
    <tr>
        <td class="legend">intro</td>
        <td class="tag">{intro}</td>
    </tr>
    <tr>
        <td class="legend">intronoimage</td>
        <td class="tag">{intronoimage}</td>
    </tr>
    <tr>
        <td class="legend">fullnoimage</td>
        <td class="tag">{fullnoimage}</td>
    </tr>
    <tr>
        <td class="legend">rawfulltext</td>
        <td class="tag">{rawfulltext}</td>
    </tr>
    <tr>
        <td class="legend">fulltext</td>
        <td class="tag">{fulltext}</td>
    </tr>
    <tr>
        <td class="legend">introtext</td>
        <td class="tag">{introtext}</td>
    </tr>
    <tr>
        <td class="legend">introimage</td>
        <td class="tag">{introimage}</td>
    </tr>
    <tr>
        <td class="legend">fullimage</td>
        <td class="tag">{fullimage}</td>
    </tr>
    <tr>
        <td class="legend">category</td>
        <td class="tag">{category}</td>
    </tr>
    <tr>
        <td class="legend">category_alias</td>
        <td class="tag">{category_alias}</td>
    </tr>
    <tr>
        <td class="legend">category_description</td>
        <td class="tag">{category_description}</td>
    </tr>
    <tr>
        <td class="legend">category_description_text</td>
        <td class="tag">{category_description_text}</td>
    </tr>
    <tr>
        <td class="legend">category_image</td>
        <td class="tag">{category_image}</td>
    </tr>
    <tr>
        <td class="legend">category_link</td>
        <td class="tag">{category_link}</td>
    </tr>
    <tr>
        <td class="legend">section_image</td>
        <td class="tag">{section_image}</td>
    </tr>
    <tr>
        <td class="legend">section_link</td>
        <td class="tag">{section_link}</td>
    </tr>
    <tr>
        <td class="legend">date</td>
        <td class="tag">{date}</td>
    </tr>
    <tr>
        <td class="legend">date Ymd</td>
        <td class="tag">{date Ymd}</td>
    </tr>
    <tr>
        <td class="legend">moddate</td>
        <td class="tag">{moddate}</td>
    </tr>
    <tr>
        <td class="legend">author</td>
        <td class="tag">{author}</td>
    </tr>
    <tr>
        <td class="legend">authorid</td>
        <td class="tag">{authorid}</td>
    </tr>
    <tr>
        <td class="legend">authorprofile</td>
        <td class="tag">{authorprofile}</td>
    </tr>
    <tr>
        <td class="legend">index</td>
        <td class="tag">{index}</td>
    </tr>
    <tr>
        <td class="legend">hits</td>
        <td class="tag">{hits}</td>
    </tr>
    <tr>
        <td class="legend">comments</td>
        <td class="tag">{comments}</td>
    </tr>
</table>