.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rtl #yt_tool_bottom .module .btn-special {
  padding: 0 5px;
}
.rtl .backtotop {
  right: auto;
  left: 10px;
}
.rtl .backtotop i {
  margin: 8px 0 0;
}
.rtl .pull-right {
  float: left !important;
}
.rtl .pull-left {
  float: right !important;
}
.rtl #yt_header .row-fluid > div:last-child:before {
  border: medium none;
  box-shadow: none;
}
.rtl #yt_header .row-fluid > div:before {
  border: none;
  border-right: 1px solid ;
  -webkit-box-shadow: -1px 0 0 ;
  -moz-box-shadow: -1px 0 0 ;
  box-shadow: -1px 0 0 ;
}
.rtl #yt_footer #yt_copyright .yt-logo {
  float: right;
  margin: 5px 0 0 15px;
}
.rtl #yt_breadcrumb div.module ul.breadcrumb li:first-child .divider {
  margin: 0 0 0 5px;
}
.rtl div#breadcrumb .module .modcontent ul.breadcrumb li {
  position: relative;
  padding-left: 17px;
}
.rtl div#breadcrumb .module .modcontent ul.breadcrumb li.active {
  padding-left: 0px;
}
.rtl div#breadcrumb .module .modcontent ul.breadcrumb li span.divider {
  position: absolute;
  left: 0px;
}
.rtl #search {
  position: absolute;
  left: 0;
  right: auto !important;
  top: 0;
  z-index: 10;
}
.rtl [class^="icon-"],
.rtl [class*=" icon-"] {
  margin: 0 0 0 5px;
}
.rtl .icon-caret-right:before {
  content: "\f0d9";
}
.rtl .form-horizontal .control-label {
  text-align: right;
}
.rtl #system-message .error > ul {
  margin-right: 0;
  background-position: 99% center;
}
.rtl .label {
  margin-right: 0px;
  margin-left: 15px;
}
.rtl .blog .items-leading .item .item-image,
.rtl .blog .items-row .item .item-image {
  margin: 0 0 10px 20px !important;
}
.rtl .blog .items-leading .item .article-text .hits,
.rtl .blog .items-row .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog .items-row .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  padding-right: 21px;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog .items-row .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  padding-right: 25px;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog .items-row .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  background-position: right center;
}
.rtl .blog .items-leading .item .article-text .item-tags .tags a,
.rtl .blog .items-row .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog-featured .items-leading .item .item-image,
.rtl .blog-featured .items-row  .item .item-image {
  margin: 0 0 10px 20px !important;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  background-position: right center;
  padding-left: 0px;
  padding-right: 27px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .create,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .create {
  padding-left: 0px;
  padding-right: 21px;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .createdby,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .createdby {
  padding-left: 0px;
  padding-right: 25px;
  background-position: right center;
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .blog-featured .items-leading .item .article-text .article-aside .article-info .hits,
.rtl .blog-featured .items-row  .item .article-text .article-aside .article-info .hits {
  padding-left: 0px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text .item-tags .tags a,
.rtl .blog-featured .items-row  .item .article-text .item-tags .tags a {
  float: right;
  margin: 0 0px 1px 1px;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info,
.rtl .blog-featured .items-row  .item .item-image .feature-info {
  text-align: right;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .create,
.rtl .blog-featured .items-row  .item .item-image .feature-info .create {
  margin-right: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .item-image .feature-info .createdby,
.rtl .blog-featured .items-row  .item .item-image .feature-info .createdby {
  margin: 0px;
  padding-left: 0px;
  padding-right: 25px;
  background-position: right center;
}
.rtl .blog-featured .items-leading .item .article-text a.more,
.rtl .blog-featured .items-row  .item .article-text a.more {
  float: right;
  padding: 10px 0px 10px 20px;
}
.rtl .blog-featured .items-leading .item .article-text a.more:after,
.rtl .blog-featured .items-row  .item .article-text a.more:after {
  left: auto;
  right: 0px;
}
.rtl .blog-featured .items-leading .item .article-text .hits,
.rtl .blog-featured .items-row  .item .article-text .hits {
  float: left;
}
.rtl .blog-featured .items-leading .item:hover .article-text a.more,
.rtl .blog-featured .items-row  .item:hover .article-text a.more {
  padding: 10px 20px;
}
.rtl .item-page .article-aside {
  overflow: hidden;
}
.rtl .item-page .article-aside ul.actions {
  float: left;
}
.rtl .item-page .article-aside dl.article-info {
  float: right;
}
.rtl .item-page .article-aside dl.article-info dd {
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .item-page .article-aside dl.article-info dd .create {
  padding-left: 0px;
  padding-right: 23px;
  background-position: right center;
}
.rtl .item-page .article-aside dl.article-info dd .hits {
  padding-left: 0px;
  padding-right: 27px;
  background-position: right center;
}
.rtl .item-page .tags a {
  float: right;
  margin: 0px 0px 1px 1px;
}
.rtl .item-page .img-fulltext.pull-left {
  margin: 0 0 1em 1em;
}
.rtl .item-page .img-fulltext.pull-right {
  margin: 0 1em 1em 0;
}
.rtl .item-page .image {
  float: right;
  margin: 5px 0px 20px 30px;
}
.rtl .item-page .dt-list {
  float: right;
}
.rtl .item-page .dt-list ul li {
  padding: 10px 50px 10px 10px;
}
.rtl .item-page .dt-list ul li strong {
  left: auto;
  right: 10px;
}
.rtl .item-page .notice {
  background-position: 98% center;
  padding: 30px 60px 30px 30px;
}
.rtl .item-page .article-index {
  margin: 0px 20px 0px 0px;
}
.rtl .item-page ul.related-items li .img-fulltext {
  float: right;
  margin: 0 0 0 20px;
}
.rtl .item-page ul.related-items li .related-item-date {
  float: right;
  margin-right: 0px;
  margin-left: 20px;
}
.rtl .item-page ul.related-items li .related-item-hits {
  float: right;
}
.rtl table.category thead tr th {
  text-align: right;
}
.rtl div.categories-list ul {
  padding: 0 15px 0 0;
}
.rtl div.categories-list ul ul > li:after,
.rtl div.categories-list ul ul > li:before {
  left: auto;
  right: -1px;
}
.rtl dl.tabs dt {
  float: right;
}
.rtl .search #searchForm .phrases-box label {
  padding-right: 20px;
}
.rtl .search #searchForm .phrases-box input,
.rtl .search #searchForm .only input {
  float: right;
  margin: 4px -20px 0 5px;
}
.rtl #advanced-search {
  text-align: right;
}
.rtl.contentpane #mailto-window .mailto-close {
  left: 40px;
  right: auto;
}
.rtl.contentpane .row-fluid [class*="span"]:first-child {
  margin-right: 0;
}
.rtl.contentpane .row-fluid [class*="span"] {
  margin: 0;
  margin-right: 2.12766%;
  float: right;
}
.rtl div.contact .contact-image {
  float: left;
}
.rtl.view-login .wrap-login .form-horizontal .control-group {
  float: right;
}
.rtl.view-login .wrap-login .other-link ul.yt-list li {
  float: right;
  margin: 0 0 0 25px;
}
.rtl .registration .form-horizontal .control-label {
  text-align: right;
  float: right;
}
.rtl div.archive .filter-search #limit {
  margin-right: 0px;
  margin-left: 10px;
}
.rtl .tag-category ul.items-row .item .item-image {
  margin: 0px 0px 0px 20px;
}
.rtl .tag-category ul.items-row .item a.readmore {
  float: right;
}
.rtl .tag-category ul.items-row .item a.readmore:after {
  left: auto;
  right: 0px;
}
.rtl .tag-category ul.items-row .item .article-text .item-headinfo .article-info dd .create {
  background-position: right center;
  padding-left: 0px;
  padding-right: 25px;
}
.rtl .feed-item-description a {
  margin: 0 5px;
}
.rtl .tag-category .items-row .pull-left {
  float: right !important;
}
.rtl .tag-category .items-row .item-image {
  margin: 0 0 20px 20px !important;
}
.rtl #mod-finder-searchform input.inputbox {
  padding: 4px 40px 4px 10px;
  width: 165px;
}
.rtl .mod-languages {
  float: right;
  margin-right: 0;
}
.rtl .mod-languages ul li a {
  text-align: right;
}
.rtl .mod-languages ul li a img {
  float: right;
  margin-right: 0;
  margin-left: 9px;
}
.rtl .module h3.modtitle:after {
  left: auto;
  right: 0;
}
.rtl .module.style-icon .fa {
  margin-right: 0px;
  margin-left: 5px;
}
.rtl .module.style-icon h3.modtitle [class^="icon-"],
.rtl .module.style-icon h3.modtitle [class*=" icon-"] {
  left: auto;
  right: -10px;
}
.rtl .module.badge-new .modcontent:before,
.rtl .module.badge-sale .modcontent:before,
.rtl .module.badge-hot .modcontent:before,
.rtl .module.badge-feature .modcontent:before {
  right: auto;
  left: 0;
}
.rtl .module._menu ul.menu > li:before,
.rtl .module._menu ul.menu > li.deeper > a:before {
  float: right;
  margin: 0 0 0 8px;
}
.rtl .module._menu ul.menu > li .yt-list.type-disc li:before {
  margin: 0 0 0 8px;
}
.rtl .menu-top {
  float: left;
  margin: 5px 5px 5px 0;
}
.rtl .menu-top li {
  float: left;
}
.rtl .wrap-services li {
  float: right;
}
.rtl .wrap-services li i {
  float: right;
  margin: 0 0 0 10px;
}
.rtl .wrap-services li a {
  float: right;
}
.rtl .wrap-services li a .number {
  float: left;
  margin-right: 5px;
}
.rtl .gmbt .row [class^="col-"] ul li {
  padding-left: 0;
  padding-right: 15px;
  background-position: right;
}
.rtl .logo-footer {
  float: left;
}
.rtl .sjdod h3.modtitle:after {
  left: auto;
  right: 0;
}
.rtl .sjdod .page-button {
  left: 15px;
  right: auto !important;
  z-index: 0;
}
.rtl .sjdod .slider {
  direction: ltr;
}
.rtl .sjdod .review_mark {
  float: right;
  width: 100%;
}
.rtl .articleslhome .page-title:after {
  left: auto;
  right: 0;
}
.rtl .articleslhome .page-button {
  position: absolute;
  display: inline-block;
  left: 5px;
  top: 5px;
  margin: 0;
  padding: 0;
}
.rtl .articleslhome .page-button .control-button {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: visible;
  top: -5px;
}
.rtl .articleslhome .page-button .control-button li {
  position: relative;
  display: inline-block;
  float: left;
  height: 24px;
  width: 24px;
  border: #ddd 1px solid;
  background: url(../images/icon/icon_arrow.png) -3px -3px no-repeat;
  bottom: 0;
}
.rtl .articleslhome .page-button .control-button li:hover {
  background: url(../images/icon/icon_arrow.png) -31px -3px no-repeat  !important;
  border-color:  !important;
}
.rtl .articleslhome .page-button .control-button li.preview {
  background: url(../images/icon/icon_arrow.png) -3px -31px no-repeat;
  right: 5px;
}
.rtl .articleslhome .page-button .control-button li.preview:hover {
  background:  url(../images/icon/icon_arrow.png) -31px -31px no-repeat;
}
.rtl .articleslhome .slider {
  direction: ltr;
}
.rtl .sj-twitter-slider .ts-userinfo {
  text-align: right !important;
}
.rtl .sj-twitter-slider .ts-btn a {
  display: inline-block;
}
.rtl .maphome .icon-label {
  float: right !important;
}
.rtl .mod-jcurrency {
  float: right;
}
.rtl .mod-jcurrency .caret {
  right: auto;
  left: 10px;
}
.rtl .sj-slc .owl-carousel {
  direction: ltr;
}
.rtl .sjshopcate_slide .page-top:after {
  left: auto;
  right: 0;
}
.rtl .sjshopcate_slide .page-top .page-title-categoryslider span:before {
  display: none;
}
.rtl .sjshopcate_slide .page-top .page-button {
  left: 5px;
  right: auto;
}
.rtl .sjshopcate_slide .item-cat-image {
  float: right !important;
}
.rtl .sjshopcate_slide .slider {
  direction: ltr;
  float: right !important;
}
.rtl .sjshopcate_slide .slider .vpi-wrap {
  position: relative !important;
}
.rtl .sjshopcate_slide .icon-cate {
  left: -5px;
  right: auto !important;
}
.rtl .jcate h3.modtitle:after {
  left: auto;
  right: 0;
}
.rtl .jbestsale h3.modtitle:after {
  left: auto;
  right: 0;
}
.rtl .jbestsale .latest_products .block_item .item_image {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.rtl .jshopcat .sj-categories .cat-wrap .content-box .child-cat {
  float: right;
}
.rtl .mbottom {
  float: left;
}
.rtl .jshop .login_block table .inputbox {
  margin-right: 10px;
}
.rtl .jshop .login_block table td label {
  margin-right: 0;
  margin-left: 10px;
}
.rtl .jmycart,
.rtl .yt-loginform {
  float: left;
}
.rtl #myLogin h3.title {
  background: #444444 url(../images/icon/icon_boxlg.png) right no-repeat !important;
  text-align: right;
  padding: 20px 70px 20px 20px;
}
.rtl #myLogin .lineb:after {
  right: auto;
  left: 15px;
}
.rtl #myLogin .control-groupex label {
  float: right;
}
.rtl #myLogin .listdes {
  margin-right: -30px;
}
.rtl .productfull .jshop_product .jshop_img_description .jCarouselLite li .jshop_img_thumb {
  width: 151px;
  height: 113px;
}
